[Unit]
Description=backup files

[Service]
Type=simple
ExecStart=/home/wacken/Files/scripts/others/borg_backup_desktop.sh

[Install]
WantedBy=default.target
