[Unit]
Description=Backup files every day
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnBootSec=20m
# every day
OnCalendar=*-*-* 00:00:00

[Install]
WantedBy=timers.target
