[Unit]
Description=Sync org files every 1 minute
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnBootSec=120
OnUnitActiveSec=60
Unit=org_file_sync.service

[Install]
WantedBy=timers.target
