[Unit]
Description=Sync my org files continuously

[Service]
Type=simple
ExecStart=/home/wacken/Files/scripts/others/org_file_sync.sh

[Install]
WantedBy=default.target
