[Unit]
Description=Sync local files every hour
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnBootSec=10m
# every hour
OnCalendar=*-*-* *:00:00
Unit=org_file_sync.service

[Install]
WantedBy=timers.target
